@model JokesWebApp.Plugins.DemoWidget

<h2>C# Widget(DemoWidget)</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Joke 
            </th>
            <th>
                JokeAnswer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JokeList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JokeQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JokeAnswer)
            </td>
        </tr>
}
    </tbody>
</table>

