@model JokesWebApp.Plugins.DemoWidget

<h2>Hello from Partial View @Model.Title</h2>
<p>get to the <a href="/Home">MVC!</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                Hi!
            </th>
            <th>
                Hi!
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
